<!DOCTYPE html>
<HTML lang="en">
<head>
<meta charset="utf-8">
<title>
як добавити учасник≥в
</title>
<link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/static/modules/gviz/1.0/core/tooltip.css">
</head>
<body>
<div style="width:700px; margin:0 auto">
<h3 style="text-align: left">
як добавити учасник≥в
</h3>
<div style="width:600px; position:relative; float:left">
<p>ƒл€ того щоб добавити учасник≥в нам потр≥бно з в≥кна УЎвидкий стартФ (рис 1) або з в≥кна<br>
У—творенн€ змаганн€Ф (рис. 2) перейти у в≥кно Ућенеджер змаганн€Ф (рис 3). ƒе в≥дкриваЇтьс€<br>
пункт У”часникиФ (рис 4). ЌатискаЇмо на пункт учасник≥в дал≥ натискаЇмо на пункт Уƒобавленн€<br> 
учасникаФ ≥ в≥дкриваЇтьс€ в≥кно Уƒобавленн€ учасникаФ (рис 5).
</p>
<img src="img1.png"  alt="альтернативный текст" height="485" width="1021">
<div style="width:600px; position:relative; float:left; text-align: center"> 
рис 1 ¬≥кно швидкий старт </div>
<img src="img1.png"  alt="альтернативный текст" height="485" width="1021">
<div style="width:600px; position:relative; float:left; text-align: center"> 
рис 2 ¬≥кно У—творенн€ змаганн€Ф ≥ розд≥л У рок 1Ф </div>
<img src="img5.png"  alt="альтернативный текст" height="514" width="750">
<div style="width:600px; position:relative; float:left; text-align: center"> 
рис 3 ¬≥кно Ућенеджер змаганн€Ф</div>
<img src="img6.png"  alt="альтернативный текст" height="101" width="315">
<div style="width:600px; position:relative; float:left; text-align: center"> 
рис 3 ѕункт У”часникиФ</div>
<img src="img7.png"  alt="альтернативный текст" height="355" width="438">
<div style="width:600px; position:relative; float:left; text-align: center"> 
рис 5 ¬≥кно Уƒобавленн€ учасникаФ</div>
<div style="width:600px; position:relative; float:left">
<p>
Ќа даному в≥кн≥ Ї обовТ€зков≥ пол€ дл€ заповненн€, так≥ €к:<br>
Х	ѕр≥звище;<br>
Х	≥мТ€;<br>
Х	по батьков≥;<br>
Х	стать;<br>
Х	дата народженн€;<br>
Х	вага;<br>
Х	градац≥€;<br>
Х	орган≥зац≥€;<br>
≤ не обовТ€зков≥ пол€, так≥ €к:<br>
Х	≥нформац≥€ про с≥мТю;<br>
Х	фотограф≥€;<br>

</p></div>
</div>
</div>
</body>
</html>