<!DOCTYPE html>
<HTML lang="en">
<head>
<meta charset="utf-8">
<title>
Як створювати сітки
</title>
<link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/static/modules/gviz/1.0/core/tooltip.css">
</head>
<body>
<div style="width:700px; margin:0 auto">
<h3 style="text-align: left">
Як створювати сітки
</h3>
<div style="width:600px; position:relative; float:left">
<p> 
Для того щоб створити сітку нам необхідно перейти на вікно “Менеджер змагання” (рис. 1) і вибрати <br>
необхідний нам тип змагання, в якому ми хочемо створити сітку. Коли ми виберемо необхідний нам тип <br>
змагання, потрібно натиснути правою кнопкою миші по назві вибраного типу змагання і відразу з’явиться <br>
контекстне меню (рис. 2). Далі потрібно натиснути на пункт “Створити сітку”, відкриється вікно (рис. 3),<br> 
в якому необхідно відмітити необхідних учасників. Після того як виберемо необхідних нам учасників <br>
потрібно натиснути на кнопку “Створити сітку”. Вразі відміни створення сітки потрібно натиснути кнопку <br>
“Відмінити”.
</p>
<img src="img5.png"  alt="альтернативный текст" height="514" width="750">
<div style="width:600px; position:relative; float:left; text-align: center"> 
рис 1 Вікно “Менеджер змагання”</div>
<img src="img15.png"  alt="альтернативный текст" height="115" width="162">
<div style="width:600px; position:relative; float:left; text-align: center"> 
рис 2 Контекстне меню яке використовується у вікні “Менеджер змагань”</div>
<img src="img16.png"  alt="альтернативный текст" height="321" width="949">
<div style="width:600px; position:relative; float:left; text-align: center"> 
рис 3 Вікно створення сітки</div>
</div>
</div>
</body>
</html>